<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  <add name="Security" connectionString="metadata=res://*/Security.csdl|res://*/Security.ssdl|res://*/Security.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ANIR\SQL2005;Initial Catalog=DnDHelper;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership defaultProvider="MyProvider">
      <providers>
        <clear />
        <add name="MyProvider" type="DnDHelper.Web.Account.MacSqlMembershipProvider" applicationName="DnDHelper.Web" />
      </providers>
    </membership>

    <profile defaultProvider="MyRoleProvider">
      <providers>
        <clear />
        <add name="MyRoleProvider" type="DnDHelper.Web.Account.MacSQLRoleProvider" applicationName="DnDHelper.Web" />
      </providers>
    </profile>

    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear />
        <add name="MyRoleProvider" type="DnDHelper.Web.Account.MacSQLRoleProvider" />
      </providers>
    </roleManager>
	 
	

  </system.web>

  <system.webServer>
	  <modules runAllManagedModulesForAllRequests="true">
		 
	  </modules>
  </system.webServer>
</configuration>
